// $color-background = #fff
// $color-initial = #f00
$color-primary = #F9627D
// $color-text = rgba(0,0,0,0.74)
// $color-secondary = #606c76
// $color-tertiary = #f4f5f6
// $color-quaternary = #d1d1d1
// $color-quinary = #e1e1e1

@import '../../node_modules/jeet/'
@import './sutairu'

hr
  margin-top 0
  margin-bottom 10px
button
  transition all 0.5s ease-in-out
  box-shadow: 1px 1px 1px rgba(0,0,0,0.14)

.POI
  transition all 0.5s ease-in-out
  center()
  border 1px solid #eee
  border-radius 4px
  margin-top 20px
  margin-bottom 20px
  box-shadow: 1px 1px 1px rgba(0,0,0,0.14)
  &:hover
    border 1px solid #F9627D

.poiTitle
  margin-top 10px
  margin-bottom 10px
  padding-left 10px
  float left

.poiGoingButton
  margin 0
  padding 0 15px
  margin-right 10px
  margin-top 10px
  font-size 120%
  float right

.poiImg
  border-radius 4px
  float left
  margin 10px 20px
  
.poiSnippet
  margin 16px
  font-style italic

.poiAddress
  margin 0
  padding 0

input
  color $color-text